*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;

}
html,body{
    width: 100%;
}
main{
    width: 100%;
}
.header{
    padding: 10px 5px;
    background-color:#eee;
    text-align: center;
}
.search{
    width: 100%;
}
.search input{
    width: 100%;
    box-sizing: border-box;/* */
    text-align: center;
    padding: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    margin-top: 15px;
}
.content {
    width: 100%;

}
.content-items{
    width: 100%;
}
.content-item{
    display:flex;
    padding: 10px;
    /* justify-content: center;全部水平居中 */
    align-items: center;/*垂直居中*/

}
.pic{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.pic img{
    width: 100%;
    height: 60px;
}
.message{
    flex:1;
    margin-left: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;

}
.name{
    font-size: 16px;
    margin-bottom: 10px;
}
.detail{
    font-size: 13px;
    max-width: 280px;
    color:#555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;/*使其处在屏幕最下方*/
    padding: 10px 0 5px 0;
    background-color: #ccc;
    border-top: 1px solid #e5e5e5;
}
.ft-items{
    display: flex;
    width: 100%;
}
.item{
    flex:1;
    text-align: center;
}
.item img{
    display: block;
    width: 20px;
    margin: 0 auto;
}
.item-name{
    font-size: 12px;
    color:#555;
}

