* {
  padding: 0;
  margin: 0;
}
html {
  color: #111;
  background-color: #fff;
}
.section {
  margin-bottom: 30px;
  min-height: 200px;
}
.wrapper {
  width: 950px /*pc站 设计常用*/;
  margin: 0 auto;
}
.sidenav {
  float: left;
  width: 100px;
  margin-right: 20px;
}
.sidenav h2 {
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
  font: 15px Arial, Helvetica, sans-serif;
}
.sidenav h2 a {
  font-size: 24px;
  text-decoration: none;
}
.sidenav .side-links {
  margin-bottom: 40px;
}
.sidenav .side-links li {
  margin-top: 5px;
  font-size: 14px;
  list-style: none;
}
.sidenav .side-links li a {
  color: #27a;
  text-decoration: none;
}
.sidenav .side-links li a:hover {
  color: #669;
}
