*
    padding 0
    margin 0

html
    color #111111 
    background-color white

.section
    margin-bottom 30px
    min-height 200px

.wrapper
    width 950px /*pc站 设计常用*/
    margin 0 auto

.sidenav
    float left 
    width 100px
    margin-right 20px
    h2 
        color #007722
        margin 0 0 12px 0
        line-height 150%
        font 15px Arial, Helvetica, sans-serif
        a 
            font-size 24px
            text-decoration none
    .side-links
        margin-bottom 40px
        li
            margin-top 5px
            font-size 14px
            list-style none
            a
                color #2277aa
                text-decoration none
                &:hover
                    color #669    




