*{
    margin: 0;
    padding: 0;
}
body{
    background-color: yellow;
}
.plane-wrapper{
    position: absolute;
    top: 50%;
    left:315.5px;
    animation: undulate 8s linear infinite;

}
/*状态类名*/
.plane-out{
    animation: plane-out 1.3s ease-out forwards; 
    /* animation-delay: 2s; */
}
@keyframes plane-out{
    0%{
        transform: scale(1) translateX(0);
    }
    30%{
        transform: scale(.8) translateX(160px);
    }
    100%{
        transform: scale(1.2) translateX(-2000px);
    }
}
@keyframes undulate{
    0%,100%,50%{
        transform: translate3d(0,0,0);
    }
    25%{
        transform: translate3d(-6px,-18px,0);
    }
    75%{
        transform: translate3d(6px,10px,0)
    }
}
.plane-wrapper .propeller{ /*表示plane-wrapper下的容器*/
    position: absolute;
    top:51%;
    left: 13.1%;
    width: 27.424%;
    height: 14.4474%;
    /* animation-name:rotating;
    animation-duration: .2s;
    animation-timing-function: linear;/*匀速*/
    /* animation-iteration-count: infinite;   */
    animation: rotating .2s linear infinite;
    animation-direction: reverse;
}
@keyframes rotating {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
