*{
  margin: 0;
  padding: 0;
}
.wrapBg{
  width: 343px;
  height: 480px;
  margin: 0 auto;
  background-image: url(./img/bg.jpg);
  position: relative;
  top: 100px;
  overflow: hidden;
}
.header-title{
  width: 236px;
  height: 77px;
  background-image: url(./img/head.jpg);
  left: 53px;
  top: 100px;
  position: absolute; /* 脱离文档流 */
}
#header_bird{
  float: right;
  margin-top: 25px;
}
#startBtn{
  width: 85px;
  height: 29px;
  padding: 0;
  margin: 0;
  background-image: url(./img/start.jpg);
  position: absolute;
  top:259px;
  left: 129px;
}
#grassLand1{
  height: 14px;
  width: 343px;
  background-image: url(./img/banner.jpg);
  position: absolute;
  top: 423px;
}
#grassLand2{
  height: 14px;
  width: 343px;
  background-image: url(./img/banner.jpg);
  position: absolute;
  top: 423px;
  left: 343px;
}