* {
  margin: 0;
  padding: 0;
}
#wrap {
  margin: 0 auto;
  width: 800px;
  height: 300px;
  padding: 20px;
}
#wrap img {
  width: 124px;
  height: 140px;
  margin: 2px;
}
@-moz-keyframes rotateAni {
  to {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotateAni {
  to {
    transform: rotateY(360deg);
  }
}
@-o-keyframes rotateAni {
  to {
    transform: rotateY(360deg);
  }
}
@keyframes rotateAni {
  to {
    transform: rotateY(360deg);
  }
}
